<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <center>
      <h1>¿Que son las redes sociales?</h1>
      <img src="../../assets/redes.png">
    </center>


    <p>Las redes sociales, en el mundo virtual, son sitios y aplicaciones que operan en niveles diversos como el
      profesional, de relación, entre otros pero siempre permitiendo el intercambio de información entre personas y/o
      empresas.Cuando hablamos de red social, lo que viene a la mente en primer lugar son sitios como Facebook, Twitter
      y
      LinkedIn o aplicaciones como TikTok e Instagram, típicos de la actualidad. Pero la idea, sin embargo, es mucho más
      antigua: en la sociología, por ejemplo, el concepto de red social se utiliza para analizar interacciones entre
      individuos, grupos, organizaciones o hasta sociedades enteras desde el final del siglo XIX.En Internet, las redes
      sociales han suscitado discusiones como la de falta de privacidad, pero también han servido como medio de
      convocatoria para manifestaciones públicas en protestas. Estas plataformas crearon, también, una nueva forma de
      relación entre empresas y clientes, abriendo caminos tanto para la interacción, como para el anuncio de productos
      o
      servicios. </p>
  </ion-card>
  <ion-card>
    <center>
    <h1>Principales ventajas de las redes sociales</h1>
      
  </center>

  <ion-grid >
    <ion-row class="tabla">
      <ion-col class="tabla" size="6">
        Conexion a nivel mundial
      </ion-col>
      <ion-col class="tabla" size="6">
        Grupos
      </ion-col>
      <ion-col class="tabla" size="6">
        Denuncia social
      </ion-col>
      <ion-col class="tabla" size="6">
        Comunicacion instantanea
      </ion-col>
      <ion-col class="tabla" size="6">
        Branding-Te puedes vender
      </ion-col>
      <ion-col class="tabla" size="6">
        Aprender idiomas
      </ion-col>
      <ion-col class="tabla" size="6">
        Ampliar tu negocio
      </ion-col>
      <ion-col class="tabla" size="6">
        Compartir conocimiento y aprender
      </ion-col>
 
    </ion-row>
  </ion-grid>
  </ion-card>


  <ion-card>
    <center>
    <h1>Principales redes sociales a nivel mundial</h1>
      
  </center>
  <ion-list>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/logo1.jpg " alt="">
      </ion-avatar>
      <ion-label>facebook</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/logo2.webp " alt="">
      </ion-avatar>
      <ion-label>Twitter</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/logo3.jpg " alt="">
      </ion-avatar>
      <ion-label>Instagram</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img src="../../assets/logo4.webp " alt="">
      </ion-avatar>
      <ion-label>Youtube</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Haz click aqui para conocer mas:</ion-label>
    <ion-button href="https://sproutsocial.com/insights/tipos-de-redes-sociales/" target="newpage">Mas Informacion</ion-button>
    </ion-item>
  </ion-list>
  </ion-card>


</ion-content>