<ion-header [translucent]="true">
  <ion-toolbar style="background-color: pink">
    <ion-buttons slot="start">
      <ion-button routerLink="../tab5"><ion-icon name="arrow-back-outline"></ion-icon>Inicio</ion-button>
    </ion-buttons>
    <ion-title>
      <center>
      instagram
    </center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <center>
    <p class="title">¿Que es Instagram?</p>
  </center>
  </ion-card>
<ion-card>
    <p>Instagram es una red social y una aplicación móvil al mismo tiempo, que permite a sus usuarios subir imágenes y vídeos con múltiples efectos fotográficos como filtros, marcos, colores retro, etc., para posteriormente compartir esas imágenes en la misma plataforma o en otras redes sociales.
      Esta aplicación o red, es actualmente una de las que mayor crecimiento tiene en el mundo.</p>
</ion-card>
<ion-card>
  <a href="https://www.instagram.com" target="newpage"><img src="../../assets/Instagram.jpg" alt=""></a>
</ion-card>
<center>
<ion-button href="https://webescuela.com/que-es-instagram-para-que-sirve/" target="newpage">Mas informacion</ion-button>
</center> <br><br>
<p>presiona este boton para mostrar mas redes sociales ↧</p>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon md="caret-up" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button routerLink="../tab4" color="light">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="../tab2" color="light">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="../tab3" color="light">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>