.title{
    font-size: x-large;
    color: lightskyblue ;
}
p{
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid;
    padding: 5px;
}
img{
    width: 400px;
    height: 150px;
    border: 2px solid lightskyblue;
}