<ion-header [translucent]="true">
  <ion-toolbar style="background-color: green">
    <ion-buttons slot="start">
      <ion-button routerLink="../tab5"><ion-icon name="arrow-back-outline"></ion-icon>Inicio</ion-button>
    </ion-buttons>
    <ion-title>
      WhatsApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <center>
    <p class="title">¿Que es WhatsApp?</p>
  </center>
  </ion-card>
<ion-card>
    <p>WhatsApp es una aplicación de chat para teléfonos móviles de última generación, los llamados smartphones. Sirve para enviar mensajes de texto y multimedia entre sus usuarios.
      Su funcionamiento es similar a los programas de mensajería instantánea para ordenador más comunes, aunque enfocado y adaptado al móvil. Hay un WhatsApp web de escritorio para ordenador y, por tanto, también funciona WhatsApp en iPad y en la mayoría de tabletas.</p>
</ion-card>
<ion-card>
  <a href="https://www.whatsapp.com/?lang=es" target="newpage"><img src="../../assets/whatsapp_PNG95183.png" alt=""></a>
</ion-card>
<center>
<ion-button href="https://www.fotonostra.com/digital/whatsapp.htm" target="newpage">Mas informacion</ion-button>
</center> <br><br><br>
<p>presiona este boton para mostrar mas redes sociales ↧</p>
<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button color="light">
    <ion-icon md="caret-up" ios="chevron-back-circle-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button routerLink="../tab4" color="light">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="../tab2" color="light">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="../tab3" color="light">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
</ion-content>